.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    cursor: move;
    height: 40rem;
    width: 40rem;
    position: relative;
    border: 2px solid white;
}

#myVid {
    width: 40rem;
    height: 40rem;
}